{% extends 'layout.html' %}

{% block content %}
    <div>
        <h2 class="h5"><u>{{ episode.name }}</u></h2>
        <p>Air Date: {{ episode.air_date }}</p>
        <p>Episode: {{ episode.episode }}</p>
        <h3>Characters in this episode: </h3>

        <ul>
            {% for character in characters %}
                <li>
                    <a href="{{ url_for('get_profile', id=character.id) }}">{{ character.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}