{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div >        
        <h2 class="h5"><u>{{ location.name }}</u></h2>
        <p><strong>Type: </strong> {{ location.type }}</p>
        <p><strong>Dimension: </strong> {{ location.dimension }}</p>

        <h3>Residents</h3>
        <ul>
            {% for character in characters %}
                <li>
                    <a href="{{ url_for('get_profile', id=character.id) }}">{{ character.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}