{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-6">
        <img 
        src="{{profile.image}}"
        alt="{{profile.name}}"
        class="img-fluid img-thumbnail"
        />
        <h2 class="h5"><strong>{{profile.name}}</strong></h2>
        <p> <strong> Species: </strong> {{profile.species}}</p>
        <p> <strong> Gender: </strong> {{profile.gender}}</p>
        <p> <strong> Origin: </strong> {{profile.origin.name}}</p>
        <p><strong>Location:</strong> <a href="{{ url_for('get_location_profile', id=location.id) }}">{{profile.location.name}}</a></p>
        
    </div>
</div>
{% endblock %}
